<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeiterfassung überprüfen</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Zeiterfassung überprüfen</h1>
    <form method="POST" action="/submit">
        <table>
            <thead>
                <tr>
                    <th>Beschreibung</th>
                    <th>Start</th>
                    <th>Ende</th>
                </tr>
            </thead>
            <tbody>
                {{entries}}
            </tbody>
        </table>
		<label>Projekt
			<select name="project">
				{{projects}}
			</select>
		</label>
        <button type="submit">Abschicken</button>
    </form>
</body>
</html>